

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>방구석연구소</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/create2.css">
    <link rel="stylesheet" href="/css/create.css">

</head>

<body class="ko-KR">
<!-- End Google Tag Manager (noscript) -->
<div class="app" data-app style="height: 788px">

    <header class="app-header" style="border-bottom:0;">
        <button type="button" class="app-header-btn back" title="뒤로가기" onclick="backUp();"></button>
    </header>
    <main class="app-main brand">
        <h2>재미보따리는<br> 여러분의 이야기가 듣고 싶어요!</h2>
        <div class="ask">
            <form id="brand">
                <label id="fake-option">어떤 이야기가 하고 싶나요?</label>
                <hidden id="hd_ask_option_value" value=""></hidden>
                <select name="ask-options" id="ask-options">

                </select>
                <div id="form-contents">
                    <label class="title">이메일</label>
                    <input class="id" type="text" placeholder="이메일을 적어주세요." id="email-phone" name="email-phone">
                    <br>
                    <label class="title">이야기</label>
                    <textarea id="mail_contents" placeholder="문제가 되는 파트에 대해 자세히 알려주세요. 빠르게 고쳐볼게요!" name="contents"></textarea>

                    <input type="submit" value="보내기" id="submitmail">
                </div>
            </form>

        </div>
    </main>
</div>
</body>

</html>