<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>재미보따리</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/create2.css">
    <link rel="stylesheet" href="/css/create.css">

</head>

<body class="ko-KR">
<!-- End Google Tag Manager (noscript) -->
<div class="app" data-app style="height: 788px">

    <header class="app-header" style="border-bottom:0;">
        <button type="button" class="app-header-btn back" title="뒤로가기" onclick="backUp();"></button>
    </header>

    <main class="app-main brand">
        <h2>재미보따리는<br> 여러분의 재미 있는 이야기를 듣고 싶어요!</h2>
        <div class="ask">
            <form id="brand">
                <label id="fake-option">어떤 이야기가 하고 싶나요?</label>

                <div id="form-contents">
                    <label class="title">제목</label>
                    <input class="id" type="text" placeholder="제목을 적어 주세요." id="email-phone" name="email-phone">
                    <br>
                    <br>
                    <label class="title">질문</label>
                    <textarea id="question" placeholder="질문을 차례 대로 적어 주세요." name="contents"></textarea>

                    <label class="title">답변</label>
                    <textarea id="answer" placeholder="질문에 대한 답변을 적어 주세요 예)1번질문 답변 1)xx 2)xx" name="contents"></textarea>

                    <label class="title">결과</label>
                    <textarea id="result" placeholder="결과를 작성 해 주세요." name="contents"></textarea>

                    <input type="submit" value="보내기" id="submitmail">
                </div>
            </form>

        </div>
    </main>
</div>
</body>

</html>