<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>재미보따리 게임 생성</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/create/create2.css">
    <!-- <link rel="stylesheet" href="/css/create.css"> -->
</head>

<body class="ko-KR">
<div layout:fragment="content">
    <div class="app" data-app style="height: 788px">

        <main class="app-main brand">
            <h2>재미보따리는<br> <br> 여러분의 재미 있는 이야기를 듣고 싶어요!</h2>
            <div class="ask">

                <form id="brand" action="/createGame/create" method="post">
                    <div id="form-contents">

                        <label for="email-phone" class="title">제목</label>
                        <input type="text" name="createGameName" class="id" id="email-phone" placeholder="제목을 적어 주세요.">

                        <br><br>

                        <label for="question" class="title">질문</label>
                        <textarea type="text" id="question" name="createQuestion" placeholder="질문을 차례대로 적어주세요."></textarea>

                        <label for="answer" class="title">답변</label>
                        <textarea id="answer" name="createAnswer" placeholder="질문에 대한 답변을 적어 주세요. 예)1번질문 답변 1)xx 2)xx"></textarea>

                        <label for="result" class="title">결과</label>
                        <textarea id="result" name="createResult" placeholder="결과를 작성 해 주세요."></textarea>

                        <button type="submit" id="submitmail" class="btn btn-primary submitBtn">보내기</button>
                        <button type="reset" id="cancel" class="btn btn-danger">초기화</button>
                    </div>
                </form>

            </div>
        </main>
    </div>
</div>
<script>
    // 등록하기
    document.querySelector(".submitBtn").addEventListener("click", function(e) {
        // 폼 유효성 검사를 통과한 경우에만 전송
        const form = document.querySelector("#brand");
        if (form.checkValidity()) {
            // 만약 파일 업로드 기능이 필요하다면, 파일 데이터를 추가하는 코드 추가
            let str = '';
            const uploadFiles = document.querySelectorAll(".upload-file"); // 클래스명 조정 가능
            for (let i = 0; i < uploadFiles.length; i++) {
                const uploadFile = uploadFiles[i];
                const imgLink = uploadFile.getAttribute("data-src");
                str += `<input type='hidden' name='fileNames' value='${imgLink}'>`;
            }
            form.insertAdjacentHTML('beforeend', str);

            // 폼 제출
            form.submit();
        } else {
            // 폼 유효성 검사 실패 시 기본 오류 메시지를 출력
            form.reportValidity();
        }
    });
</script>
</body>
</html>
